@mixin clearfix {
  &:before {
    display: table;
    content: '';
    clear: both;
  }

  &:after {
    display: table;
    content: '';
    clear: both;
  }
}


@keyframes move1 {
  33% {
    background-color: green;
  }

  66% {
    background-color: yellow;
  }
}

@keyframes move2 {
  33% {
    background-color: red;
  }

  66% {
    background-color: green;
  }
}

@keyframes move3 {
  33% {
    background-color: yellow;
  }

  66% {
    background-color: red;
  }
}

// grid -> ama-col
.ama-col-base {
  display: inline-block;
  min-height: $RowMinH;
  line-height: $LineHeight;
  font-size: 1rem;
}

// ama-a 
.ama-a {
  text-decoration: none;
  opacity: .6;
  color: $GRtextColor;
}

.ama-a:any-link {
  color: $GRtextColor;
}

.ama-a:hover,
.ama-a:active {
  opacity: 1;
  color: $MLbackgroundColor;
}

// ama-icon
.ama-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// ama-icon-svg
.ama-icon-svg {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// ama-item horizontal vertical
.ama-item {
  padding: 0 1.5rem;
  cursor: pointer;
  opacity: .7;
}

.ama-item-horizontal {
  display: inline-block;
}

.ama-item-vertical {
  display: block;
  padding: .2rem 0;
}

.ama-item:hover {
  opacity: 1;
  color: #000;
}

// ama-divider
.ama-divider {
  display: inline-block;
  margin: auto;
}

.ama-divider-line {
  height: 1px;
}

.ama-divider-bar {
  height: 10px
}

// ama-scroller
.ama-scroller {
  overflow: hidden;
}

.ama-scroller-x {
  overflow-x: scroll;
}

.ama-scroller-y {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: $MLbackgroundColor;
}

// ama-button
.ama-button {
  outline: none;
  border: none;
  padding: .60rem 1rem;
  border-radius: 4px;
  background-color: $MLbackgroundColor;
  color: #ffffff;
  cursor: pointer;
  opacity: .7;
}

.ama-button:hover {
  opacity: 1
}

.ama-button:active {
  opacity: .7;
}

// ama-tabs
.ama-tabs>span {
  padding: 0 1rem;
  cursor: pointer;
  border: 1px solid #cccccc;
  color: $GRtextColor;
  height: 40px;
  line-height: 40px;
  display: inline-block;
}

.ama-tabs-activated {
  color: #ffffff;
  border: 1px solid transparent;
  border-bottom-color: $MLbackgroundColor;
  background-color: $MLbackgroundColor;
}

// ama-mavon-editor
.ama-mavon-editor {
  width: 100%;
  height: 100%;
}

//ama-loader
.ama-loader {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5)
}

.ama-loader>ul {
  list-style-type: none;
  width: 460px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.ama-loader>ul>li {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 .5rem;
  border-radius: 50%;
  position: relative;
  top: 6px;
  transition: background-color 1s;
  opacity: .6;
}

.ama-loader>ul>li:nth-child(1) {
  background-color: red;
  animation: move1 3s infinite;
}

.ama-loader>ul>li:nth-child(2) {
  background-color: yellow;
  animation: move2 3s infinite;
}

.ama-loader>ul>li:nth-child(3) {
  background-color: green;
  animation: move3 3s infinite;
}

// ama-table
.ama-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #eeeeee;
}

.ama-table th,
.ama-table-tr,
.ama-table-tr td {
  border: 1px solid #eeeeee;
}

.ama-table-tr:hover {
  background-color: #eeeeee;
}
.ama-table-sorter-wrap {
  position: relative;
}
.ama-table-sorter-wrap:after {
  display: block;
  content: '';
  clear: both;
  overflow: hidden;
}
.ama-table-sorter {
  position: absolute;
}
.ama-table-sorter-btn {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #f78989;
  margin: 10px;
  font-size: 14px;
  padding: 2px 8px;
  text-align: center;
  cursor: pointer;
}

// ama-dom-to-pdf
.ama-dom-to-pdf-main-article {
  padding: 20px;
  margin: 0 auto;
  display: block;
  background: #fff;
  // display: none;
}

.ama-dom-to-pdf-article-heading {
  position: relative;
  padding: 0 0 20px;
  overflow: hidden;
}

.ama-dom-to-pdf-article-heading-title {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  color: #333;
  overflow: hidden;
}

.ama-dom-to-pdf-node-article-content {
  margin: 20px 0 0;
  @include clearfix;
  font-size: 16px;
  color: #333;
  letter-spacing: 0.5px;
  line-height: 28px;
  margin-bottom: 30px;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;

  &> :last-child {
    margin-bottom: 0;
  }

  b,
  strong {
    font-weight: inherit;
    font-weight: bolder;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  p {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
  }

  ul {
    margin-bottom: 30px;
  }

  li {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    margin-left: 30px;
    margin-bottom: 14px;
  }

  a {
    text-decoration: none;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .84) 100%, rgba(0, 0, 0, 0) 0);
    background-size: 1px 1px;
    background-position: 0 calc(1em + 1px);
    padding: 0 6px;
  }

  code {
    background: rgba(0, 0, 0, .05);
    padding: 3px 4px;
    margin: 0 2px;
    font-size: 16px;
    display: inline-block;
  }

  img {
    border: 0;
  }

  /* 解决 IE6-7 图片缩放锯齿问题 */
  img {
    -ms-interpolation-mode: bicubic;
  }

  blockquote {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: italic;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    border-left: 3px solid rgba(0, 0, 0, .84);
    padding-left: 20px;
    margin-left: -23px;
    padding-bottom: 2px;
  }

  a {
    text-decoration: none;
  }

  h2,
  h3,
  h4 {
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: -.015em;
    margin: 53px 0 0;
  }

  h4 {
    font-size: 26px;
  }
}