// grid -> ama-col

.ama-col-base {
  display: inline-block;
  min-height: $RowMinH;
  line-height: $LineHeight;
  font-size: 1rem;
}

// ama-a 
.ama-a {
  text-decoration: none;
  opacity: .6;
  color: $GRtextColor;
}
.ama-a:any-link {
  color: $GRtextColor;
}
.ama-a:hover,.ama-a:active{
  opacity: 1;
  color: $MLbackgroundColor;
}

// ama-icon
.ama-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// ama-item horizontal vertical
.ama-item {
  padding: 0 1.5rem;
  cursor: pointer;
  opacity: .7;
}
.ama-item-horizontal {
  display: inline-block;
}
.ama-item-vertical {
  display: block;
  padding: .2rem 0;
} 
.ama-item:hover{
  opacity: 1;
  color: #000;
}

// ama-divider
.ama-divider {
  display: inline-block;
  margin: auto;
}
.ama-divider-line {
  height: 1px;
}
.ama-divider-bar {
  height: 10px
}

// ama-scroller
.ama-scroller {
  overflow: hidden;
}
.ama-scroller-x {
  overflow-x: scroll;
}
.ama-scroller-y {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: $MLbackgroundColor;
}

// ama-button
.ama-button {
  outline: none;
  border: none;
  padding: .60rem 1rem;
  border-radius: 4px;
  background-color: $MLbackgroundColor;
  color: #ffffff;
  cursor: pointer;
  opacity: .7;
}
.ama-button:hover {
  opacity: 1
}
.ama-button:active {
  opacity: .7;
}

// ama-tabs
.ama-tabs > span{
  padding: 0 1rem;
  cursor: pointer;
  border: 1px solid #cccccc;
  color: $GRtextColor;
  height: 40px;
  line-height: 40px;
  display: inline-block;
}

.ama-tabs-activated {
  color: #ffffff;
  border: 1px solid transparent;
  border-bottom-color: $MLbackgroundColor;
  background-color: $MLbackgroundColor;
}

// ama-mavon-editor
.ama-mavon-editor {
  width: 100%;
  height: 100%;
}

//ama-loader
.ama-loader {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5)
}
.ama-loader > ul {
  list-style-type: none;
  width: 460px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.ama-loader > ul > li {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 .5rem;
  border-radius: 50%;
  position: relative;
  top: 6px;
  transition: background-color 1s;
  opacity: .6;
}
.ama-loader > ul > li:nth-child(1) {
  background-color: red;
  animation: move1 3s infinite;
}
.ama-loader > ul > li:nth-child(2) {
  background-color: yellow;
  animation: move2 3s infinite;
}
.ama-loader > ul > li:nth-child(3) {
  background-color: green;
  animation: move3 3s infinite;
}

@keyframes move1 {
  33% {
    background-color: green;
  }
  66% {
    background-color: yellow;
  }
}
@keyframes move2 {
  33% {
    background-color: red;
  }
  66% {
    background-color: green;
  }
}
@keyframes move3 {
  33% {
    background-color: yellow;
  }
  66% {
    background-color: red;
  }
}