// gloal skin1 === 湖水绿
$MLbackgroundColor: hsla(177, 88%, 27%, 0.5);
$MLtextColor: #ffffff;

// gloal skin1 === 经典灰
$GRbackgroundColor: #eeeeee;
$GRtextColor: #2c3e50;


// size == header
$HeaderH: 72px;
$RowMinH: 35px;
$LineHeight: 35px;

// align
$defaultAlign: left;